<!DOCTYPE html>
<html>
  <head>
    <title>DataCommon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
    <script src="https://d3js.org/d3.v5.min.js"></script>
  </body>
</html>
