<!DOCTYPE html>
<html>
  <head>
    <title>DataCommon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'direct_uploads' %>
    <%= yield :head %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <div id="flash_messages" class="flash-style">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, :class => "flash #{key}") %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
